@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  @apply bg-black text-white box-border;
}

::-webkit-scrollbar{
  width:4px;

}

::-webkit-scrollbar:horizontal- {

  height: 8px;
}

::-webkit-scrollbar-thumb {
  @apply bg-rose-900 rounded-xl;

}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltip-content {
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 100%; /* Posición arriba del elemento al que se le pasa el cursor */
  left: 50%;
  margin-left: -100px; /* Centra el tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltip-content {
  visibility: visible;
  opacity: 1;
}

